.contact-page {
  width: 100%;
  height: 100%;
  padding: 0 59px;
  opacity: 0;

  .contact-list {
    flex-direction: column;
    list-style: none;

    li {
      cursor: pointer;
      font-family: Untitled Sans;
      font-style: normal;
      font-weight: 300;
      font-size: 25px;
      line-height: 40px;
      text-align: center;
      a {
        box-shadow: inset 0 -1px #0e0e0e;
        color: $color-dark-text;
        transition: all 400ms;
        &:hover {
          box-shadow: inset 0 25px rgba(#2400ff, 0.2);
        }
      }

      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }
  }
}
