.home-page {
  width: 100%;
  height: 100%;
  padding: 0 59px;
  span {
    font-family: Untitled Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 80px;
    line-height: 85px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    p {
      display: inline;
      background: radial-gradient(#ff0099, #2a00fc, #2400ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
