@font-face {
  font-family: "Bendicion";
  src: url("./../fonts/bendicion/Bendicion-Regular_Modular.otf");
}

@font-face {
  font-family: "Cosi Azure";
  src: url("./../fonts/CosiAzure-Bold.ttf");
}

@font-face {
  font-family: "Untitled Sans";
  src: url("./../fonts/UntitledSans-Light.ttf");
}

$color-primary: #fff;

$color-dark-text: #000;
$color-primary-text: #5a27ea;
